html, body {
	margin:0;
	height: 100%;
	width: 100%;
}
#Camera {	
	height: 100%;
    width: 100%;     
   
  }

#fpv_stream {	
  width:100%;
  height:100%;
//  object-fit: cover;
  object-fit:contain 
  }
 
#camera_control{
    position: absolute;
    top:100px;
    bottom:10px;    
    left:15px;
 }
 
#camera_cY1{
    //opacity:0.2;
     width: 24px;
    height: 100%;        
 }
#ultrasonic{
    position: absolute;
    top: 0px;     
    right: 0px; 
    height: 100%;
    width: 100%;     
    opacity:0.2;
 } 
 
#orient_id{
    position: absolute;
    top: 0px;     
    right: 0px; 
    height: 30%;
    width: 30%;     
    opacity:0.2;
 } 
 
 .btn {
  border: 2px solid black;
  background-color: white;
  color: black;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
}
#control_layer_{
    position: absolute;
    display: flex;
    flex-flow: column;    
    top: 0px;  
    height:100%;
    width: 100%;
}
#info_bar{	
    top: 0px;    
    width: 100%; 
}
#joystick_layer{
     flex:auto;   
}
#camera_control_{
	position: absolute;	
	top: 50px;  
	height: calc(100% - 50px); 
	width:10%;	
}
   
#camera_button{
	background: rgba(76, 175, 80, 0.1);
}
#radar_button{
	float:right;
    background: rgba(76, 175, 80, 0.1);
}
